<%= provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>Information about how to contact the page master.
	<a href="mailto:joe@example.com?subject=feedback" "Email Me Link">Email Me Link</a>
</p>